@use 'base';

.inverse {
    background-color: base.$primary-color;
    color:white;
}

// Seperti fungsi yang akan dikeluarkan dengan include
@mixin theme($theme:DarkGray) {
    background-color: $theme;
    box-shadow: 0 0 1px rgba($theme, 25);
    color :#fff;
}

.info {
    @include theme
}

.alert {
    @include theme($theme:Red)
}

.success {
    @include theme($theme:green)
}

// This css print because mesaage-shared is-extended

%message-shared {
    border : 1px solod #ccc;
    padding: 10px;
    color :#333;

}

%equal-height {
    display:flex;
    flex-wrap:wrap;
}

.messge {
    @extend %message-shared;
}
.success {
    @extend %message-shared;
    border-color: green;;
}
.error {
    @extend %message-shared;
    border-color: red;;
}
.warning {
    @extend %message-shared;
    border-color: yellow;;
}
