@use "sass:math" as math;
@use 'library' with (
  $black: #222,
  $border-radius: 0.1rem
);




// This assignment will fail.
$global-variable: global value;

.content {
  $local-variable: local value;
  global: $global-variable;
  local: $local-variable;
}

.sidebar {
  global: $global-variable;

  // This would fail, because $local-variable isn't in scope:
  // local: $local-variable;
}

$variable: first global value;

.content {
  $variable: second global value !global;
  value: $variable;
}

.sidebar {
  value: $variable;
}

$dark-theme: true !default;
$primary-color: #f8bbd0 !default;
$accent-color: #6a1b9a !default;

@if $dark-theme {
  $primary-color: darken($primary-color, 60%);
  $accent-color: lighten($accent-color, 60%);
}

.button {
  background-color: $primary-color;
  border: 1px solid $accent-color;
  border-radius: 3px;

}
@mixin corner-icon($name, $top-or-bottom, $left-or-right) {
    .icon-#{$name} {
      background-image: url("/icons/#{$name}.svg");
      position: absolute;
      #{$top-or-bottom}: 0;
      #{$left-or-right}: 0;
    }
  }
  
  @include corner-icon("mail", top, left);


  @mixin inline-animation($duration) {
    $name: inline-#{unique-id()};
  
    @keyframes #{$name} {
      @content;
    }
  
    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: infinite;
  }
  
  .pulse {
    @include inline-animation(2s) {
      from { background-color: yellow }
      to { background-color: red }
    }
  }

  .example {
    unquoted: #{"string"};
  }

  $transition-speed: math.div(1s, 50px);

@mixin move($left-start, $left-stop) {
  position: absolute;
  left: $left-start;
  transition: left ($left-stop - $left-start) * $transition-speed;

  &:hover {
    left: $left-stop;
  }
}

.slider {
  @include move(10px, 120px);
}

@debug 10s + 15s; 
@debug 1in - 10px;
@debug adjust-hue(#6b717f, 60deg); 


